/*----------------------------------------------------------*/
/* button 30t */
/*----------------------------------------------------------*/

.button-30 {
  align-items: center;
  justify-content: center;
  appearance: none;
  background-color: var(--light-bg);
  border-radius: 4px;
  border-width: 0;
  box-shadow: var(--shadow-dark-color) 0 2px 4px,
    var(--shadow-light-color) 0 7px 13px -3px,
    var(--inset-shadow-color) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--dark-text);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: var(--inset-shadow-color) 0 0 0 1.5px inset,
    var(--shadow-dark-color) 0 2px 4px,
    var(--shadow-light-color) 0 7px 13px -3px,
    var(--inset-shadow-color) 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: var(--shadow-dark-color) 0 4px 8px,
    var(--shadow-light-color) 0 7px 13px -3px,
    var(--inset-shadow-color) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: var(--inset-shadow-color) 0 3px 7px inset;
  transform: translateY(2px);
}
