/*----------------------------------------------------------*/
/* Theming */
/*----------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*----------------------------------------------------------*/
/* Re usable*/
/*----------------------------------------------------------*/
.white-text {
  color: var(--light-bg);
}

.spotify-text {
  color: var(--green-green);
}

.showpass-text {
  color: var(--bright-red);
}

.fa-styling {
  margin-right: 10px;
}

.max-width {
  max-width: 90%;
}

.navbar-collapse .navbar-nav .nav-link {
  cursor: pointer;
}

.mt-6 {
  margin-top: 5rem !important;
}

hr {
  border: dotted #121212 6px;
  border-bottom: none;
  width: 30%;
  margin: 50px auto;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

/*----------------------------------------------------------*/
/* header */
/*----------------------------------------------------------*/
header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.animated-background {
  background: linear-gradient(
    -45deg,
    var(--navy-blue),
    var(--dark-purple),
    var(--ocean-blue),
    var(--light-turquoise)
  );
  background-size: 400% 400%;
  animation: GradientAnimation 15s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*----------------------------------------------------------*/
/* navbar */
/*----------------------------------------------------------*/

nav {
  cursor: pointer;
  transition: color 1s ease, background-color 1s ease;
}

.nav-background-change-back {
  background-color: transparent;
}

.nav-background-change {
  background-color: var(--navy-blue);
}

/* Anchor underline */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #e5e1e1;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e5e1e1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*----------------------------------------------------------*/
/* header content */
/*----------------------------------------------------------*/

.hand-written-font {
  font-family: "Satisfy", cursive;
  font-size: 6rem;
  font-weight: lighter;
}

/* bouncing arrow */
.fa-arrow-styling {
  color: var(--light-bg);
  cursor: pointer;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*----------------------------------------------------------*/
/* Media Queries for the whole site*/
/*----------------------------------------------------------*/
/* Extra small devices (phones, up to 600px) */
@media (min-width: 360px) and (max-width: 502px) {
  .arrow {
    top: 25%;
  }
  .arrow > svg {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .hand-written-font {
    font-size: 3.5rem;
  }

  .image-hide {
    display: none;
  }

  .extra-margin-top {
    margin-top: 1rem;
  }

  .small-p-text {
    font-size: 16px;
  }

  .svg-small {
    width: 200px;
    height: 120px;
  }

  :root {
    --card-width: 240px;
    --card-height: calc(var(--card-width) / 2);
  }

  .h2-align-left {
    text-align: left;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Styles go here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Styles go here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .large-p-text {
    font-size: 1.3rem;
  }
}
