/*----------------------------------------------------------*/
/* header */
/*----------------------------------------------------------*/
header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.animated-background {
  background: linear-gradient(
    -45deg,
    var(--navy-blue),
    var(--dark-purple),
    var(--ocean-blue),
    var(--light-turquoise)
  );
  background-size: 400% 400%;
  animation: GradientAnimation 15s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
