/*----------------------------------------------------------*/
/* Theming */
/*----------------------------------------------------------*/

:root {
  --pink-red: #ff407d;
  --orange-orange: #ff9800;
  --sun-yellow: #f4d160;
  --green-green: #1db954;
  --ocean-blue: #3f72af;
  --light-turquoise: #97e7e1;
  --dark-purple: #1d24ca;
  --navy-blue: #00224d;
  --dark-text: #252a34;
  --light-blue: #dbe2ef;
  --light-gray: #dddddd;
  --light-bg: #f9f7f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*----------------------------------------------------------*/
/* Re usable*/
/*----------------------------------------------------------*/
.white-text {
  color: var(--light-bg);
}

.spotify-text {
  color: var(--green-green);
}

.fa-styling {
  margin-right: 10px;
}

.max-width {
  max-width: 90%;
}

.navbar-collapse .navbar-nav .nav-link {
  cursor: pointer;
}

.mt-6 {
  margin-top: 5rem !important;
}

hr {
  border: dotted #121212 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}

/*----------------------------------------------------------*/
/* header */
/*----------------------------------------------------------*/
header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.animated-background {
  background: linear-gradient(
    -45deg,
    var(--navy-blue),
    var(--dark-purple),
    var(--ocean-blue),
    var(--light-turquoise)
  );
  background-size: 400% 400%;
  animation: GradientAnimation 20s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*----------------------------------------------------------*/
/* navbar */
/*----------------------------------------------------------*/

nav {
  cursor: pointer;
  transition: color 1s ease, background-color 1s ease;
}

.nav-background-change-back {
  background-color: transparent;
}

.nav-background-change {
  background-color: var(--navy-blue);
}

/* Anchor underline */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #e5e1e1;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e5e1e1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*----------------------------------------------------------*/
/* header content */
/*----------------------------------------------------------*/

.hand-written-font {
  font-family: "Satisfy", cursive;
  font-size: 6rem;
  font-weight: lighter;
}

/* fancy button  */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
/* bouncing arrow */
.fa-arrow-styling {
  color: var(--light-bg);
  cursor: pointer;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*----------------------------------------------------------*/
/* Circuit*/
/*----------------------------------------------------------*/
.circuit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.latch-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.latch-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--green-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wire {
  width: 50px;
  height: 5px;
  background-color: black;
  transition: background-color 0.5s;
}

.rotate-45 {
  transform: rotate(-45deg);
  transform-origin: top left;
  background-color: var(--light-bg);
  transition: background-color 0.5s;
}

.bulb {
  fill: black;
  transition: fill 0.5s;
}

.bulb.on {
  fill: var(--sun-yellow);
  transition: fill 0.5s;
}

/*----------------------------------------------------------*/
/* Skills*/
/*----------------------------------------------------------*/

.tech-card {
  border: solid 1px #ccc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: white;
}

.dashed-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.dashed-line {
  height: 0%;
  transition: height 2s;
  border-left: 4px dashed #1db954;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/*----------------------------------------------------------*/
/* carousel controls styling*/
/*----------------------------------------------------------*/
.carousel-control-prev-icon-styling {
  filter: invert(100);
}

/*----------------------------------------------------------*/
/* Media Queries for the whole site*/
/*----------------------------------------------------------*/
/* Extra small devices (phones, up to 600px) */
@media (min-width: 360px) and (max-width: 502px) {
  .arrow {
    top: 25%;
  }
  .arrow > svg {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .hand-written-font {
    font-size: 3.5rem;
  }

  .image-hide {
    display: none;
  }

  .extra-margin-top {
    margin-top: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Styles go here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Styles go here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Styles go here */
}
