/*----------------------------------------------------------*/
/* header*/
/*----------------------------------------------------------*/
header {
  height: 80vh;
  background-color: #0c0c0f;
}

h1,
p {
  color: #e5e1e1;
}

.header-content {
  /* display: flex; */
  position: relative;
  top: 20%;
  /* height: inherit; */
}
